{{ header }}
{{ column_left }}

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>Contact Messages</h1>
      <ul class="breadcrumb">
        <li><a href="{{ home }}">{{ text_home }}</a></li>
        <li><a href="{{ breadcrumbs[1].href }}">Contact Messages</a></li>
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-envelope"></i> Contact Messages</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Enquiry</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {% if messages %}
                {% for message in messages %}
                <tr>
                  <td>{{ message.name }}</td>
                  <td>{{ message.email }}</td>
                  <td>{{ message.enquiry }}</td>
                  <td>{{ message.date_added }}</td>
                </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="4" class="text-center">No messages found.</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
         <div class="text-center">
          {{ pagination }}
        </div>
      </div>
    </div>
  </div>
</div>

{{ footer }}
